<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa.Entidades.Properties.Settings.FloristeriaBDConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=FloristeriaBD;User ID=Proyecto;Password=C#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>